{% extends 'main/index.html' %}

{% block title %} Контакты {% endblock %}

{% block content %}

    <blockquote class="blockquote">
        <p class="h2" style="text-align: center;" >Контакты</p>
    </blockquote>

    <!-- VK -->
    <div class="line container-fluid sticky-top"></div>
    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 ">
                <p class="lead">Вконтакте</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 ">
                <p class="lead"><a href="https://vk.com/kolbinperevozki"><ГрузоПеревозки></ГрузоПеревозки></a></p>
            </div>
        </div>
    </div>
    <!-- Эвакуатор -->
    <div class="line container-fluid sticky-top"></div>
    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 ">
                <p class="lead">Эвакуатор</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 ">
                <p class="lead">918-88-82</p>
            </div>
        </div>
    </div>

    <!-- Шиномонтаж -->
    <div class="line container-fluid sticky-top"></div>
    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 ">
                <p class="lead">Шиномонтаж</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 ">
                <p class="lead">8 963 312-86-50</p>
            </div>
        </div>
    </div>

    <!-- Грузоперевозки -->
    <div class="line container-fluid sticky-top"></div>
    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 ">
                <p class="lead">Грузоперевозки</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 ">
                <p class="lead">8 921 380-60-32</p>
            </div>
        </div>
    </div>
{% endblock %}