{% extends 'main/index.html' %}
{% load static %}
{% block title %} Отзывы {% endblock %}

{% block content %}

 <div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 ">
            <div id="vk_comments">
                <script type="text/javascript">
                    VK.Widgets.Comments("vk_comments", {limit: 10, width: "", attach: "*"});
                </script>
            </div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-3 col-lg-3 col-xl-2 ">
            <center>
                <div id="vk_groups">
                    <script type="text/javascript">
                        VK.Widgets.Group("vk_groups", {mode: 4, wide: 1, height: 400, color1: "FFFFFF", color2: "000000", color3: "5181B8"}, 37452339);
                    </script>
                </div>
            </center>
        </div>
    </div>
</div>



{% endblock %}